<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>04Dir_vif</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        /*
        v-if디렉티브
        1. 조건에 부학되는 내용을 랜더링하고, 부합되지 않으면 렌더링 하지 않는 디렉티브
        2. 형식
            요소객체 v-if='model의 boolean값'
                v-else-if ...
                v-else...
        */
        $(function () {
            var vue = new Vue({
                el: "#app",
                data: {
                    title: "디렉티브 : v-if",
                    age: 0
                },
            });
        });
    </script>
</head>

<body>
    <div id="app">
        <h2>{{title}}</h2>
        나이를 입력하시면 학부과정을 출력합니다.
        <div>
            나이 : <input type="text" name="" value="" v-model='age'>
            <br>
            {{age}} 살은
            <b>
                <span v-if='age<8'>유아</span>
                <span v-else-if='age>=8 && age <= 13'>초등학생</span>
                <span v-else-if='age>=14 && age <= 16'>중학생</span>
                <span v-else-if='age>=17 && age <= 19'>고등학생</span>
                <span v-else-if='age>=20 && age <= 60'>대학생&성인</span>
                <span v-else>노인</span>
            </b>
            입니다.
        </div>
    </div>
</body>

</html>