<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>05Dir_vfor03</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--  
	시나리오] 다음의 단위 속성을 가진 상품객체를 JSON 배열로 정의한후
	쇼핑카트에 담긴 상품으로 처리하여 출력하세요.
	할인율을 선택 : 10%,20%,30%,50%
	단위 상품 속성 : 상품명, 가격, 갯수, 계, 할인여부, 할인후금액
	임의의 상품 3개를 카트에 추가 등록하고, 총비용 출력처리
	-->
    <script>
        $(function () {
            var vue = new Vue({
                el: "#app",
                data: {
                    title: "[시나리오]v-for 사용한 장바구니",
                    discountSel: 0.1, // 선택한 할인률
                    discount: {
                        '10%': 0.1,
                        '20%': 0.2,
                        '30%': 0.3,
                        '50%': 0.5
                    },
                    products: [{
                            name: '사과',
                            price: 3000,
                            cnt: 1,
                            isDiscount: false
                        },
                        {
                            name: '배',
                            price: 4000,
                            cnt: 2,
                            isDiscount: true
                        },
                        {
                            name: '딸기',
                            price: 5000,
                            cnt: 3,
                            isDiscount: false
                        }
                    ],
                    sum: 0,
                    totalPrice: 0
                },
            });
        });
    </script>
</head>

<body>
    <div id="app">
        <h2>{{title}}</h2>
        <!--  
            모델데이터인 discount 객체를 v-for 디렉티브로 반복하여 option태그로 출력함.
            key값은 option태그사이의 텍스트로, value는 v-bind를 통해 value속성에 삽입하고 있음.
        -->
        할인율 :
        <select v-model='discountSel' name="" id="">
            <option v-for="(v, k) in discount" :value="v">{{k}}</option>
        </select>
        <span v-show='false'>{{totalPrice=0}}</span>
        <table border="1">
            <tr>
                <th>No</th>
                <th>상품명</th>
                <th>가격</th>
                <th>갯수</th>
                <th>계</th>
                <th>할인여부</th>
                <th>할인적용계</th>
            </tr>
            <!-- 
                모델데이터인 products객체형 배열을 v-for를 통해 반복해서 출력 첫번째 반복해서 '사과'객체를 가져와서 각 항목을 출력한다.
                그리고 나머지부분을 동일하게 반복하여 출력한다.
            -->
            <tr v-for='(pdt, idx) in products'>
                <td>{{idx+1}}</td>
                <td>{{pdt.name}}</td>
                <td>{{pdt.price}}</td>
                <td>{{pdt.cnt}}</td>
                <td>{{pdt.price*pdt.cnt}}</td>
                <td><input type="checkbox" v-model="pdt.isDiscount" :value="pdt.isDiscount"></td>
                <td>
                    <!--
                        v-model을 통해서 모델데이터와 양방향 통신이 가능하므로 check혹은 uncheck시 실시간으로 반영된다.
                    -->
                    <input type="checkbox" v-model="pdt.isDiscount" :value="pdt.isDiscount" />
                </td>
                <td>
                    <!--
                        비교연산의 
                            == 은 값이 같은지를 비교하고,
                            === 은 값이 동일하고, 데이터형까지 동일한지를 비교한다.
                        위 체크박스에서 체크여부가 아래 합계금액에 실시간으로 반영된다.
                    -->
                    {{ sum = (pdt.isDiscount===true)? ((pdt.price*pdt.cnt)-(pdt.price*pdt.cnt*discountSel)) : (pdt.price*pdt.cnt) }}
                    <!-- 
                        v-show가 false이므로 랜더링은 되나 화면상에는 출력되지 않는다.
                        input태그의 hidden속성과 비슷하게 사용된다.
                    -->
                    <span v-show="false">{{totalPrice+=sum}}</span>
                </td>
            </tr>
            <tr>
                <td colspan="7" style='text-align:right;'> 총합계금액 : {{totalPrice}}</td>
            </tr>
        </table>
    </div>
</body>

</html>