<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>05Dir_vfor01</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 
        v-for를 이용한 배열의 처리
            model데이터가 배열로 선언된 경우
            형식]
                v-for = '(단위객체, index) in 모델배열'
        v-for를 이용한 객체의 처리
            형식]
                v-for = '(value, key, index) in 모델객체'
        위와 같이 모델데이터를 반복해서 DOM요소에 출력할 때 사용한다.
     -->
    <script>
        $(function () {
            var vue = new Vue({
                el: "#app",
                data: {
                    title: "디렉티브 : v-for01",
                    arrayItem: ['사과', '바나나', '딸기'],
                    jsonItem: {
                        name: '이준승',
                        age: 26,
                        addr: '천안'
                    },
                    nations: {
                        10: '태국',
                        20: '필리핀',
                        30: '중국',
                        40: '미국',
                        50: '프랑스'
                    },
                    selNation1: 10,
                    selNation2: 10
                },
            });
        });
    </script>
</head>

<body>
    <div id="app">
        <h2>{{title}}</h2>
        <h3>배열 : 과일리스트</h3>
        <ul>
            <li v-for='(item,index) in arrayItem'>
                {{index+1}}. {{item}}
            </li>
        </ul>
        <h3>객체 : 준승이 정보</h3>
        <ul>
            <li v-for='(val, key, idx) in jsonItem'>
                {{idx+1}}. {{key}} > {{val}}
            </li>
        </ul>
        <h3>여행하고 싶은 국가를 선택하세요1</h3>
        <select v-model='selNation1' name="" id="">
            <!-- 
                <template>은 Vuejs에서 반복되는 HTML태그를 미리 만들어두었다가 필요할 때 재사용하기 위한 기능을 제공한다.
             -->
            <template v-for='(v, k) in nations'>
                <option :value="k">{{v}}</option>
            </template>
        </select>
        <div>
            선택한 국가코드1 : {{selNation1}}
        </div>
        <!-- 
            v-bind : 모델데이터를 HTML요소의 속성에 적용할 때 사용하는 디렉티브. 사용시 v-bind는 생략가능함.
         -->
        <h3>여행하고 싶은 국가를 선택하세요2</h3>
        <select v-model='selNation2' name="" id="">
            <option v-for='(v, k) in nations' v-bind:value="k">{{v}}</option>
        </select>
        <div>
            선택한 국가코드1 : {{selNation2}}
        </div>
    </div>
</body>

</html>