<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>07Template</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--
        #template
            -tag자체로 포함하는 반복처리를 할때 활용된다.
            -component에서 기본화면 구성요소로 tag를 포함할때
                id속성과 함께 사용된다.
        #v-pre
            : 렌더링하지 않고 directive내용을 그대로 보여준다.
            주로 테스트용으로 Model 데이터를 출력하지 않을때 사용된다.
    -->
    <script>
        $(function () {
            var vue = new Vue({
                el: "#app",
                data: {
                    title: "<Template> 사용하기",
                    pageno: 1,
                    pagesize: 10,
                    totalcount: 100,
                    contacts: [{
                            "no": 100,
                            "name": "설현",
                            "tel": "010-3456-8299",
                            "address": "서울"
                        },
                        {
                            "no": 99,
                            "name": "혜리",
                            "tel": "010-3456-8298",
                            "address": "서울"
                        },
                        {
                            "no": 98,
                            "name": "하니",
                            "tel": "010-3456-8297",
                            "address": "경기"
                        },
                        {
                            "no": 97,
                            "name": "성소",
                            "tel": "010-3456-8296",
                            "address": "제주"
                        },
                        {
                            "no": 96,
                            "name": "지아",
                            "tel": "010-3456-8295",
                            "address": "서울"
                        },
                        {
                            "no": 95,
                            "name": "정연",
                            "tel": "010-3456-8294",
                            "address": "강원"
                        },
                        {
                            "no": 94,
                            "name": "쯔위",
                            "tel": "010-3456-8293",
                            "address": "경기"
                        },
                        {
                            "no": 93,
                            "name": "사나",
                            "tel": "010-3456-8292",
                            "address": "서울"
                        },
                        {
                            "no": 92,
                            "name": "모모",
                            "tel": "010-3456-8291",
                            "address": "충남"
                        },
                        {
                            "no": 91,
                            "name": "소진",
                            "tel": "010-3456-8290",
                            "address": "서울"
                        }
                    ]
                }
            });
        });
    </script>
</head>

<body>
    <div id="app">
        <h2>{{title}}</h2>
        <h2 v-pre>{{title}}</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>주소</th>
                </tr>
            </thead>
            <!-- 
                객체형배열의 크기만큼 반복하여 출력함. 첫번째 contact는 '설현' 객체이다.
             -->
            <tbody>
                <template v-for='(contact, index) in contacts'>
                    <tr>
                        <td>{{contact.no}}</td>
                        <td>{{contact.name}}</td>
                        <td>{{contact.tel}}</td>
                        <td>{{contact.address}}</td>
                    </tr>
                    <tr class="divider" v-if='index%3===2'>
                        <td colspan="4"></td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</body>
<style>
    .divider {
        height: 2px;
        background-color: gray;
    }

    td {
        padding: 2px 5px;
    }
</style>

</html>