<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>09Computed03</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        $(function () {
            var vue = new Vue({
                el: "#app",
                data: {
                    title: "간단한 회원인증폼 만들기",
                    id: '',
                    pass: ''
                },
                computed: {
                    login: function () {
                        var loginMsg = this.id + '님, 인증전입니다.'
                        if (this.id == 'kosmo' && this.pass == '1234') {
                            loginMsg = "<span style = 'color:red;'>" + this.id +
                                "님, 인증되었습니다. 환영합니다.</span>";
                        }
                        return loginMsg;
                    }
                }
            });
        });
    </script>
</head>

<body>
    <div id="app">
        <h2>{{title}}</h2>
        아이디 : <input type="text" v-model='id'><br>
        아이디 : <input type="text" v-model='pass'><br>
        <span v-show="id!=''">{{login}}</span>
    </div>
</body>

</html>